* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clear-fix::after {
    display: table;
    clear: both;
    content: '';
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

ul li {
    display: inline-block;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.header-menu ul li a:focus {
    color: #c016d9;
}

.big-green-btn a {
    text-transform: uppercase;
    border: 1px solid hsl(80.4, 97.9%, 37.1%);
    width: 250px;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    color: white;
    background-color: hsl(80.4, 97.9%, 37.1%);
    font-size: 18px;
}

.big-green-btn a:hover {
    color: #f0cc08;
}


/* GENERAL STYLE */


/* SECTION ONE */

.logo-header {
    height: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    vertical-align: middle;
}

header {
    background-color: hsl(210.8, 76.5%, 20%);
    width: 100%;
    height: 100px;
}

.header-bar-90 {
    background-color: hsl(210.8, 76.5%, 20%);
    width: 90%;
    height: 100px;
    margin: auto;
    line-height: 100px;
}

.header-button ul li {
    margin-right: 20px;
}

.header-login-btn {
    border: 1px solid white;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
}

.green-long-btn {
    color: white;
    background-color: hsl(80.4, 97.9%, 37.1%);
    border: 1px solid hsl(80.4, 97.9%, 37.1%);
    padding: 13px;
    border-radius: 5px;
}

.header-login-btn:hover,
.green-long-btn:hover {
    color: #f0cc08;
}

.header-bar-90 ul li a {
    color: white;
}

.header-menu.float-left ul li a {
    padding: 5px;
}

.tutor:focus {
    color: red;
}


/* tablet */

@media screen and (max-width:768px) {
    .header-menu.float-left {
        float: none;
    }
    .header-menu.float-left ul li a {
        font-size: 12px;
    }
    .header-button.float-right {
        float: none;
        text-align: center;
    }
}


/* SECTION ONE */

.section-one-main-container {
    background-color: hsl(210.8, 76.5%, 20%);
    width: 100%;
    height: 700px;
    background-image: url('../img/background-header.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right bottom;
}

.section-one-container-80 {
    width: 80%;
    height: 100%;
    margin: auto;
}

.section-one-container-50 {
    width: 50%;
    height: 100%;
}

.section-one-container-50 h1 {
    color: white;
    font-size: 55px;
    margin-bottom: 80px;
    padding-top: 265px;
}


/* tablet */

@media screen and (max-width:768px) {
    .section-one-container-50 {
        width: 100%;
    }
    .section-one-container-50 h1 {
        font-size: 46px;
    }
}


/* GRAY-BAR-TOP */

.gray-bar-top {
    width: 100%;
    background-color: hsl(0, 0%, 82.7%);
    text-align: center;
}

.gray-bar-top h2 {
    padding: 20px;
}

.gray-bar-top p {
    padding-bottom: 40px;
}


/* <!-- SECTION 2 --> */

.section-two-container-100 {
    width: 100%;
}

.section-two-container-100::after {
    content: '';
    display: block;
    background-color: gray;
    width: 98%;
    height: 1px;
    margin: 38px auto 56px;
}

.section-two-container-80 {
    width: 80%;
    /* height: 750px; */
    margin: auto;
}

.section-two-col {
    width: calc(100% / 3);
    height: 100%;
}

.section-two-logo {
    width: 245px;
    height: 300px;
    margin: 0 auto 40px;
    padding-top: 50px;
    display: block;
}

.section-two-col h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    color: hsl(80.4, 97.9%, 37.1%);
}

.section-two-col p {
    margin: 80px 0 50px;
    text-align: center;
    font-size: 22px;
    padding: 0 10px;
}

.section-two-col h2::after {
    content: '';
    display: block;
    width: 75px;
    height: 1px;
    background-color: black;
    margin: 50px auto 0;
}


/* tablet */

@media screen and (max-width:768px) {
    .section-two-container-80 {
        width: 100%;
    }
    .section-two-col {
        width: 30%;
        padding: 5px;
    }
    .section-two-col:nth-child(2) {
        margin: 0 calc((100% - 90%) / 2);
    }
    .section-two-col h2::after {
        display: none;
    }
    .section-two-col h2 {
        font-size: 27px;
    }
}


/* <!-- SECTION 3 --> */

.section-three-container-80 {
    width: 80%;
    margin: auto;
}

.section-three-box-items {
    width: 50%;
    height: 100%;
}

.section-three-box-items h2 {
    font-size: 42px;
    padding-left: 100px;
}

.section-three-box-items p {
    padding-left: 100px;
    margin-top: 20px;
    font-size: 24px;
}

.section-three-box-items a {
    text-decoration: underline;
    padding-left: 100px;
    margin-top: 35px;
    display: inline-block;
    font-size: 19px;
}

@media screen and (max-width:768px) {
    .section-three-box-items:first-child {
        display: none;
    }
    .section-three-box-items:nth-child(2) {
        width: 100%;
        background-image: url(../img/mountain.svg);
        background-repeat: no-repeat;
    }
}


/* <!-- GRAY BAR BOTTOM --> */

.gray-bar-bottom {
    background-color: #d3d3d3;
    width: 100%;
    height: 175px;
    margin-top: 100px;
    line-height: 175px;
    text-align: center;
}

.gray-bar-bottom-items.float-left {
    width: 40%;
    height: 100%;
}

.gray-bar-bottom-items h2 {
    font-size: 36px;
    margin-left: 160px;
}

.gray-bar-bottom-items.float-right {
    width: 50%;
    height: 100%;
}

.gray-bar-bottom-items.float-right ul li {
    text-transform: initial;
    margin: 0 30px;
}

.gray-bar-bottom-items.float-right ul li:first-child {
    font-size: 18px;
}

.gray-bar-bottom-items.float-right ul li:last-child {
    text-transform: uppercase;
    background-color: hsl(80.4, 97.9%, 37.1%);
    line-height: 24px;
    padding: 25px 14px;
    border-radius: 5px;
}

.gray-bar-bottom-items.float-right ul li a:hover {
    color: #f0cc08;
}

.fas.fa-sort-down {
    margin-left: 50px;
}

.seleziona {
    border-bottom: 1px solid rgb(155, 148, 148);
    padding-bottom: 5px;
    font-size: 20px;
    color: black;
}

.gray-bar-bottom-items.float-right ul li:last-child a {
    color: white;
}

#visualizza:hover {
    color: green;
}

@media screen and (max-width: 768px) {
    .gray-bar-bottom-items.float-left {
        width: 30%;
        display: none;
    }
    .gray-bar-bottom-items h2 {
        font-size: 14px;
    }
    .gray-bar-bottom-items.float-right {
        width: 100%;
    }
    .gray-bar-bottom-items ul li:first-child {
        display: none;
    }
}


/* <!-- FIXED HELP BAR --> */

.help {
    position: fixed;
    bottom: 0;
    right: 15vw;
    width: 91px;
    height: 51px;
    background-color: hsl(80.4, 97.9%, 37.1%);
    text-align: center;
    color: white;
    line-height: 51px;
    border-radius: 5px;
    font-size: 24px;
}

.help a {
    color: white;
}

.help a:hover {
    color: rgba(107, 70, 238, 0.9);
}